# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set tplroot = tpldir.split('/')[0] %}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}

{%- set _config = salt['config.get'](tplroot, default={}) %}
{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
        merge=salt['grains.filter_by']( _config, default='lookup'
      )
    )
%}
{%- set a = salt['grains.filter_by']( {'defaults': defaults}, default='defaults', merge=_config) %}

{%- set edition = '' if 'edition' not in a else a.edition %}
{%- set pcode = a.product ~ edition %}
{%- set jdata = salt['cmd.run']('curl -s -L "{0}{1}"'.format(a.pkg.macapp.uri, pcode))|load_yaml %}
{%- do a.update({ 'version': jdata[ pcode ][0]['version'] }) %}

{%- set dirname = 'a-%s-%s'|format( edition, a.version) %}
{%- set url = jdata[ pcode ][0]['downloads'][ a.flavour ]['link'] %}
{%- set hash  = salt['cmd.run']('curl -L -s "{0}"'.format( jdata[ pcode ][0]['downloads'][ a.flavour ]['checksumLink'])).split(' ')[0] %}  # noqa 204

{%- if a.pkg.use_upstream_macapp %}
    {%- do a.pkg.macapp.update({'name': '/Applications',
                                'path': '/Applications',
                                'source': url,
                                'source_hash': hash }) %}
{%- endif %}

{%- set appcode = a %}
