# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set tplroot = tpldir.split('/')[0] %}
{%- import_yaml tplroot ~ "/defaults.yaml" as default_settings %}

{%- set _config = salt['config.get'](tplroot, default={}) %}
{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default=tplroot,
        merge=salt['grains.filter_by']( _config, default='lookup'
      )
    )
%}
{%- set appcode = salt['grains.filter_by']( {'defaults': defaults}, default='defaults', merge=_config) %}

{%- set pcode = appcode.product ~ appcode.edition if appcode.edition else appcode.product %}
{%- set jdata = salt['cmd.run']('curl -s -L {0}{1}'.format(appcode.pkg.macapp.uri, pcode))|load_yaml %}
{%- do appcode.update({ 'version': jdata[ pcode ][0]['version'] }) %}

{%- set dirname = 'appcode-%s-%s'|format( appcode.edition if appcode.edition else '', appcode.version) %}
{%- set url = jdata[ pcode ][0]['downloads'][ appcode.flavour ]['link'] %}
{%- set hash  = salt['cmd.run']('curl -L -s {0}'.format( jdata[ pcode ][0]['downloads'][ appcode.flavour ]['checksumLink'])).split(' ')[0] %}  # noqa 204

{%- if appcode.pkg.use_upstream_macapp %}
       {%- do appcode.pkg.macapp.update({
              'name': '/Applications', 'path': '/Applications', 'source': url, 'source_hash': hash }) %}
{%- endif %}
